@import "~@cadent/sass-root";
@import "./variables";
@import "./utils";

// COMPONENTS
// heading
@mixin font-heading--xl {
  @include font_machine(heading-fat, heading-xl);
}
@mixin font-heading--lg {
  @include font_machine(heading-fat, heading-lg);
}
@mixin font-heading--md {
  @include font_machine(heading-thin, heading-md);
}
@mixin font-heading--sm {
  @include font_machine(heading-thin, heading-sm);
}

// caption
@mixin font-caption--lg {
  @include font_machine(caption, lg);
}
@mixin font-caption--md {
  @include font_machine(caption, md);
}
@mixin font-caption--sm {
  @include font_machine(caption, sm);
}
@mixin font-caption--xs {
  @include font_machine(caption, xs);
}

// paragraph
@mixin font-paragraph--lg {
  @include font_machine(paragraph, lg);
}
@mixin font-paragraph--md {
  @include font_machine(paragraph, md);
}
@mixin font-paragraph--sm {
  @include font_machine(paragraph, sm);
}
@mixin font-paragraph--xs {
  @include font_machine(paragraph, xs);
}

// label
@mixin font-label--lg {
  @include font_machine(label, lg);
}
@mixin font-label--md {
  @include font_machine(label, md);
}
@mixin font-label--sm {
  @include font_machine(label, sm);
}
@mixin font-label--xs {
  @include font_machine(label, xs);
}

// icons
@mixin font-icon--base($size) {
  @include make_flex(row, center, center);
  width: $size * 1.5 !important;
  height: $size * 1.5 !important;

  & > span,
  & > svg {
    font-size: $size;
  }
}

@mixin font-icon--heading-xl {
  @include font-icon--base($size: get-font-size(heading-xl));
}
@mixin font-icon--heading-lg {
  @include font-icon--base($size: get-font-size(heading-lg));
}
@mixin font-icon--heading-md {
  @include font-icon--base($size: get-font-size(heading-md));
}
@mixin font-icon--heading-sm {
  @include font-icon--base($size: get-font-size(heading-sm));
}
@mixin font-icon--lg {
  @include font-icon--base($size: get-font-size(lg));
}
@mixin font-icon--md {
  @include font-icon--base($size: get-font-size(md));
}
@mixin font-icon--sm {
  @include font-icon--base($size: get-font-size(sm));
}
@mixin font-icon--xs {
  @include font-icon--base($size: get-font-size(xs));
}
