// FNS
@function get-font-weight($weight) {
  $weight: map-get(
    $map: $typography-font-weight,
    $key: $weight
  );
  @return #{map-get($font-weight, $weight)};
}

@function get-font-size($size) {
  @return map-get($map: $typography-font-sizes, $key: $size);
}

@function get-font-line-height($size) {
  @return map-get($map: $typography-line-heights, $key: $size);
}

@function get-font-offset-top($size) {
  @return map-get($map: $typography-font-offsets, $key: #{$size}--top);
}

@function get-font-offset-bottom($size) {
  @return map-get($map: $typography-font-offsets, $key: #{$size}--bottom);
}

// Mixins
@mixin font-crop($height, $size, $top-offset, $bottom-offset) {
  // vars
  $real-font-size: max($size - ($top-offset + $bottom-offset), 0);
  $extra-space: $height - $real-font-size;
  $vertical-padding: $extra-space / 2;

  // attributes
  padding: $vertical-padding 0;

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    margin-top: -$top-offset;
  }

  &::after {
    margin-bottom: -$bottom-offset;
  }
}

@mixin font_machine(
  $font-type,
  $font-size,
  $family: $font-family,
  $color: $default-font-color
) {
  // vars
  $size: get-font-size($font-size);
  $height: get-font-line-height($font-size);
  $top-offset: get-font-offset-top($font-size);
  $bottom-offset: get-font-offset-bottom($font-size);

  // attributes
  // @include font-crop($height, $size, $top-offset, $bottom-offset);
  font-weight: get-font-weight($font-type);
  font-size: $size;
  font-family: $family;
  color: $color;
  line-height: $height;
  // height: $height;
}
