// VARIABLES
// bases
$font-family: "MuseoSans";
$default-font-color: get-color(neutral-5);
$default-font-size: 16px;
$lead-led-offset: 2;
$font-weight: (
  thin: 100,
  light: 300,
  normal: 500,
  bold: 700
);

// Sizes
$typography-font-sizes: (
  heading-xl: 12px * $factor,
  heading-lg: 10px * $factor,
  heading-md: 8px * $factor,
  heading-sm: 6px * $factor,
  lg: 16px,
  md: 14px,
  sm: 12px,
  xs: 10px
);

// Sizes
$typography-line-heights: (
  heading-xl: 72px,
  heading-lg: 60px,
  heading-md: 48px,
  heading-sm: 36px,
  lg: 24px,
  md: 24px,
  sm: 16px,
  xs: 16px
);

$typography-font-offsets: (
  heading-xl--top: 2px,
  heading-xl--bottom: 10px,
  heading-lg--top: 2px,
  heading-lg--bottom: 8px,
  heading-md--top: 2px,
  heading-md--bottom: 6px,
  heading-sm--top: 1px,
  heading-sm--bottom: 5px,
  lg--top: 0px,
  lg--bottom: 3px,
  md--top: 1px,
  md--bottom: 2px,
  sm--top: 1px,
  sm--bottom: 3px,
  xs--top: 0px,
  xs--bottom: 2px
);

// Weights
$typography-font-weight: (
  heading-fat: normal,
  heading-thin: light,
  paragraph: light,
  caption: bold,
  label: normal
);
