@mixin upload-container {
  position: relative;
  display: inline-block;
}

@mixin upload-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
