@import "~@cadent/sass-root";

// Variables
$input-checkbox--margin-left: get-factor(mini);

$input-checkbox--default--font-color: $input-text--default--font-color;
$input-checkbox--default--border-color--focus: $input-text--default--border-color--focus;
$input-checkbox--default--font-color--disabled: $input-text--default--font-color--disabled;

// Mixins
@mixin input-checkbox-disabled-wrapper {
  &:not(:disabled) {
    @content;
  }
}

@mixin input-checkbox--layout {
  @include make_flex(row, flex-start, center);
  & > div + p {
    margin-left: $input-checkbox--margin-left;
  }
}

//checkbox
@mixin input-checkbox {
  @include input-checkbox--layout;

  //general color
  & > div {
    color: $input-checkbox--default--font-color;
  }
  & > p {
    color: $input-checkbox--default--font-color !important;
  }

  //target the input
  & > input {
    display: none;
    @include input-checkbox-disabled-wrapper {
      &:hover {
        & + div > svg > path {
          color: $input-checkbox--default--border-color--focus;
        }
        & + div + p {
          color: $input-checkbox--default--border-color--focus !important;
        }
      }

      &:checked {
        & + div > svg {
          color: $input-checkbox--default--border-color--focus;
        }
      }
    }

    &:disabled {
      & + div > svg {
        color: $input-checkbox--default--font-color--disabled;
      }
      & + div + p {
        color: $input-checkbox--default--font-color--disabled !important;
      }
    }
  }
}
