@import "~@cadent/sass-root";
@import "input-base.mixin";

/********************************\
| TEXTAREA
\********************************/
@mixin input-textarea--base {
  height: 160px;
  max-height: 160px;
  max-width: 100%;
}

// default
@mixin input-textarea--default {
  @include input-base($background: $input-text--default--background-color);
  @include input-textarea--base;
  @include input-base--focus-hover;
  @include input-base--disabled;
}
@mixin input-textarea--default--invalid {
  @include input-base--invalid;
}
