@import "~@cadent/sass-root";

$input-collection--base--margin-left: get-factor(sm);
$input-collection--base--margin-top: get-factor(sm);

/********************************\
| INPUT COLLECTION
\********************************/
@mixin input-collection-inline {
  @include make_flex(row, flex-start, flex-start);
  & > label + label {
    margin-left: $input-collection--base--margin-left;
  }
}

@mixin input-collection-stacked {
  @include make_flex(column, flex-start, flex-start);
  & > label + label {
    margin-top: $input-collection--base--margin-top;
  }
}
