@import "~@cadent/sass-root";
@import "input-base.mixin";

/********************************\
| Text
\********************************/
// default
@mixin input-text--default {
  @include input-base($background: $input-text--default--background-color);
  @include input-base--focus-hover;
  @include input-base--disabled;
}
@mixin input-text--default--invalid {
  @include input-base--invalid;
}

/********************************\
| EMAIL
\********************************/
// default
@mixin input-email--default {
  @include input-base($background: $input-text--default--background-color);
  @include input-offset;
  @include input-base--focus-hover;
  @include input-base--disabled;
}
@mixin input-email--default--invalid {
  @include input-base--invalid;
}

/********************************\
| PASSWORD
\********************************/
// default
@mixin input-password--default {
  @include input-base($background: $input-text--default--background-color);
  @include input-offset;
  @include input-base--focus-hover;
  @include input-base--disabled;
}
@mixin input-password--default--invalid {
  @include input-base--invalid;
}

/********************************\
| SEARCH
\********************************/
// default
@mixin input-search--default {
  @include input-base($background: $input-text--default--background-color);
  @include input-offset;
  @include input-base--focus-hover;
  @include input-base--disabled;
}
@mixin input-search--default--invalid {
  @include input-base--invalid;
}
