@import "~@cadent/sass-typography";

// Variables
$input-base--border-width: 1px;
$input-base--border-style: solid;
$input-base--transition: border 0.15s ease-in-out;
$input-base--border-radius: get-factor(xxs);
$input-base--padding-vertical: get-padding(xs, $input-base--border-width);
$input-base--padding-horizontal: get-padding(xs, $input-base--border-width);

// StyleTypes
// -- default
$input-text--default--font-color: get-color(neutral-4);
$input-text--default--font-color--disabled: get-color(neutral-2);

$input-text--default--placeholder-color: get-color(neutral-2);
$input-text--default--placeholder-color--invalid: $input-text--default--placeholder-color;

$input-text--default--border-color: get-color(neutral-2);
$input-text--default--border-color--invalid: get-color(invalid-3);
$input-text--default--border-color--disabled: get-color(neutral-2);
$input-text--default--border-color--focus: get-color(brand-2);

$input-text--default--background-color: get-color(neutral-0);
$input-text--default--background-color--disabled: get-color(neutral-1);

$input-label--default--font-color: get-color(neutral-3);

$input-error--default--font-color: get-color(invalid-3);

$input-icon--default--padding: get-factor(xs);
$input-icon--default--color: get-color(neutral-4);
$input-icon--default--color-invalid: get-color(invalid-3);
$input-icon--default--color-focus: get-color(brand-2);
$input-icon--default--color-disabled: get-color(neutral-2);
$input-icon--default--transition: fill 0.15s ease-in-out;

// -- dark (future planning)
// $input-dark--background-color: get-color(neutral-0);

// resets
@mixin input-reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;

  &:focus {
    outline: none;
  }
}

// Layouts
@mixin input-control {
  display: block;
  width: 100%;
}

@mixin input-offset {
  padding-left: get-factor(xl);
}

/********************\
|****** STATES ******|
\********************/
@mixin input-placeholder($color: $input-text--default--placeholder-color) {
  &::placeholder {
    color: $color;
  }
  &:placeholder-shown {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

/********************\
|****** LABELS ******|
\********************/
@mixin input-label {
  display: inline-block;
  @include font-label--md;
  color: $input-label--default--font-color;
  margin-bottom: get-factor(xxs);
}

/********************\
|****** ERROR ******|
\********************/
@mixin input-error {
  @include font-caption--sm;
  color: $input-error--default--font-color;
  margin-top: get-factor(xxs);
}

/********************\
|****** ICON ******|
\********************/
@mixin input-icon {
  @include make-flex(row, center, center);
  @include icon--override($input-icon--default--color) {
    transition: color 0.15s ease-in-out;
  }
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  border-right: $input-base--border-width $input-base--border-style
    $input-text--default--border-color;
  transition: $input-base--transition;
  & > * {
    box-sizing: content-box;
    padding: $input-icon--default--padding;
  }
}
@mixin input-icon--focus {
  @include icon--override($input-icon--default--color-focus);
  border-color: $input-text--default--border-color--focus;
}

@mixin input-icon--invalid {
  @include icon--override($input-icon--default--color-invalid, true);
  border-color: $input-text--default--border-color--invalid !important;
}

@mixin input-icon--disabled {
  @include icon--override($input-icon--default--color-disabled);
  border-color: $input-text--default--border-color--disabled !important;
}

/******************\
|****** BASE ******|
\******************/
@mixin input-base($background) {
  @include input-reset;
  @include font-label--md;
  color: $input-text--default--font-color;
  @include input-placeholder;
  background: $background;
  padding-top: $input-base--padding-vertical !important;
  padding-bottom: $input-base--padding-vertical !important;
  padding-right: $input-base--padding-horizontal;
  padding-left: $input-base--padding-horizontal;
  border-radius: $input-base--border-radius;
  border: $input-base--border-width $input-base--border-style
    $input-text--default--border-color;
  transition: $input-base--transition;
  width: inherit;
}

@mixin input-base--focus-hover {
  &:not(:disabled) {
    &:focus,
    &:hover {
      border-color: $input-text--default--border-color--focus;

      & + div {
        @include input-icon--focus;
      }
    }
  }
}
@mixin input-base--disabled {
  &:disabled {
    background-color: $input-text--default--background-color--disabled;
    color: $input-text--default--font-color--disabled;
  }
}
@mixin input-base--invalid {
  @include input-placeholder($input-text--default--placeholder-color--invalid);
  border-color: $input-text--default--border-color--invalid !important;
}

@mixin input-container() {
  width: inherit;
  display: block;
}
