@import "~@cadent/sass-root";
@import "input-base.mixin";

$select-arrow-transition: transform 0.15s ease;

@mixin input-select--default() {
  @include input-base($background: $input-text--default--background-color);
  @include input-base--focus-hover;
  @include input-base--disabled;
  z-index: 1;

  & > option {
    color: $input-text--default--font-color;
  }
}

@mixin input-select--disabled() {
  background-color: $input-text--default--background-color--disabled;
  color: $input-text--default--font-color--disabled;
}

@mixin input-select-icon() {
  @include make_flex(row, center, center);
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 get-factor(xs);
  border-left: $input-base--border-width $input-base--border-style
    $input-text--default--border-color;

  & > * {
    transition: $select-arrow-transition;
  }
}

@mixin input-select-icon--active() {
  & > * {
    transform: rotate(180deg);
  }
}

@mixin input-select-icon--disabled() {
  background-color: $input-text--default--background-color--disabled;
  color: $input-text--default--font-color--disabled;
}

@mixin input-select-icon--invalid() {
  @include input-base--invalid;
  color: $input-text--default--border-color--invalid;
}

@mixin input-select--placeholder() {
  color: $input-text--default--placeholder-color;
}

@mixin input-select--placeholder--invalid() {
  color: $input-text--default--placeholder-color--invalid;
}

@mixin input-select-container() {
  border-radius: $input-base--border-radius;
  background-color: $input-text--default--background-color;
  position: relative;
  display: inline-block;
  z-index: 0;

  & > select {
    background-color: transparent !important;
    padding-right: get-factor(xl) !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
  }
}

@mixin input-select-placeholder-option {
  display: none;
}
