@import "~@cadent/sass-root";
@import "input-base.mixin";

/********************************\
| DATAPOINTS
\********************************/
//container flexbox layout
@mixin data-points-container-stacked {
  @include make_flex(column, flex-start, flex-start);
  & > div + div {
    margin-top: get-factor(xxs);
  }
}

@mixin data-points-container-inline {
  @include make_flex(row, flex-start, baseline);
  & > div + div {
    margin-left: get-factor(xs);
  }
}

//label mixin
@mixin data-points-label-button {
  padding: 0;
  border: none;
  color: $input-text--default--font-color;
}

@mixin data-points-label {
  @include make_flex(row, flex-start, center);
  & > p {
    color: $input-label--default--font-color !important;
    & + button {
      @include data-points-label-button;
      margin-left: get-factor(xxs);
    }
  }
}

//value mixin
@mixin data-points-value {
  & > p {
    color: $input-text--default--font-color !important;
  }
}
