// Breakpoints & Responsive Mixins
@mixin breakpoint($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin make_code {
  code {
    background: rgba($color-grayscale-1, 0.25);
    padding: 3px 7px;
    font-size: 14px;
    color: $color-grayscale-4;
    font-family: "Courier New", Courier, monospace;

    &.block {
      width: 100%;
    }
  }
}

// Positioning (flex)
@mixin make_flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Positioning (grid) TBD

// resets
@mixin button__reset {
  cursor: pointer;
  background: 0;
  margin: 0;
  padding: 0;
  border: none;

  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

@mixin icon--override($color, $freeze: false) {
  @if $freeze {
    & > div > svg {
      color: $color !important;
      @content;
    }
  } @else {
    & > div > svg {
      color: $color;
      @content;
    }
  }
}
