@function get-factor($size) {
  @return map-get($map: $global--spacings, $key: $size);
}

@function get-width($col-width) {
  @return map-get($map: $col-spans, $key: $col-width);
}

@function get-color($color) {
  @return map-get($map: $global--colors, $key: $color);
}

@function get-padding($size, $border-width: 0) {
  @return get-factor($size) - $border-width;
}
