@import "~@cadent/sass-root";

$card-base--background-color: get-color(neutral-0);

$card-type--default--padding: get-factor(md);
$card-type--compact--padding: get-factor(sm);


//CardContent Base
@mixin card-core-content {
  position: relative;
  background: $card-base--background-color;

  > * {
    border-radius: inherit;
  }

  @content;
}



// CardContent Types
// default
@mixin card-content--default {
  @include card-core-content;
  padding: $card-type--default--padding;
}

// compact
@mixin card-content--compact {
  @include card-core-content;
  padding: $card-type--compact--padding;
}

// flush
@mixin card-content--flush {
  @include card-core-content;
  padding: 0;
}

