@import "~@cadent/sass-root";

$card-base--border-color: get-color(neutral-2);
$card-base--border-width: 1px;
$card-base--border-style: solid;
$card-base--background-color: get-color(neutral-0);
$card-base--border-radius: get-factor(xxs);

$card-secondary--border-color: $card-base--border-color;

$card-interactive--border-color--hover: get-color(brand-3);

$card-drawer--background-color: get-color(neutral-1);


//Cards Container
@mixin card-container {
  display: flex;
  border: $card-base--border-color $card-base--border-style
  $card-base--border-width;
  border-radius: $card-base--border-radius;
  background: $card-base--background-color;
  > *:only-child {
    border-radius: $card-base--border-radius;
  }

  @content;
}


// direction - row
@mixin card-container--row {
  flex-direction: row;
  align-items: stretch;

  > * {
    width: 100%;
  }

  > *:not(:only-child):first-child {
    border-radius: $card-base--border-radius 0 0 $card-base--border-radius;
  }

  > *:not(:only-child):last-child {
    border-radius: 0 $card-base--border-radius $card-base--border-radius 0;
  }
}

// direction - column
@mixin card-container--column {
  flex-direction: column;

  > *:not(:only-child):first-child {
    border-radius: $card-base--border-radius $card-base--border-radius 0 0;
  }

  > *:not(:only-child):last-child {
    border-radius: 0 0 $card-base--border-radius $card-base--border-radius;
  }
}

// width - sm
@mixin card-container-sm {
  width: get-width(4col);
}

// width - md
@mixin card-container-md {
  width: get-width(8col);
}

// width - lg
@mixin card-container-lg {
  width: get-width(12col);
}


//styleType - reaised
@mixin card-style--raised {
  box-shadow: 0 1px 8px 0 rgba(get-color(neutral-6), (($factor * 4)/100));
  transition: all 0.15s ease-in-out;
}


@mixin card-style--interactive {
  &:hover {
    border-color: $card-interactive--border-color--hover;
    cursor: pointer;
  }
}

@mixin card-style--expandable {
  z-index: 11;

  & > button {
    @include button--reset;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@mixin card-style---drawer {
  @include card-style--expandable;
  background: $card-drawer--background-color;
  left: get-factor(xs) * -1;
  z-index: 10;
}
