// container layout
@mixin button-group-joined-inline {
  @include make_flex(row, flex-start, center);
}

@mixin button-group-joined-stacked {
  @include make_flex(column, center, inherit);
}

// joined inline button mixin
@mixin button-group-joined-inline-button {
  &:first-child {
    border-radius: $button-lg--border-radius 0 0 $button-lg--border-radius;
    &::after {
      border: none;
    }
  }

  &:not(:last-child :first-child) {
    border-radius: 0 0 0 0;
    &::after {
      border: none;
    }
  }

  &:last-child {
    border-radius: 0 $button-lg--border-radius $button-lg--border-radius 0;
    &::after {
      border: none;
    }
  }
}

// joined stacked button mixin
@mixin button-group-joined-stacked-button {
  &:first-child {
    border-radius: $button-lg--border-radius $button-lg--border-radius 0 0;
    &::after {
      border: none;
    }
  }

  &:not(:last-child :first-child) {
    border-radius: 0;
    &::after {
      border: none;
    }
  }

  &:last-child {
    border-radius: 0 0 $button-lg--border-radius $button-lg--border-radius;

    &::after {
      border: none;
    }
  }
}
