@mixin button-action__text-style {
  & > p {
    @content;
  }

  & > div + p {
    margin-left: get-factor(xxs);
  }
}

@mixin button-action__icon-style {
  & > div > svg > path {
    @content;
  }
}

@mixin button-action {
  @include button__reset;
  @include make_flex(row, flex-start, center);
  @include button-action__text-style {
    transition: $button-base--transition;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  @include button-action__icon-style {
    transition: $button-base--transition;
  }
}

@mixin button-action--hover-focus {
  @include button-action__text-style {
    color: get-color(brand-2);
  }
  @include button-action__icon-style {
    fill: get-color(brand-2);
  }
}

@mixin button-action--disabled {
  @include button-action__text-style {
    color: get-color(neutral-2);
  }
  @include button-action__icon-style {
    fill: get-color(neutral-2);
  }
}
