@mixin button__base(
  $background-color,
  $border--color,
  $text-color,
  $blend-base-background: $button-base--blend--dark,
  $blend-base-border: $button-base--blend--dark
) {
  position: relative;
  background: $background-color;
  border: $button-base--border--width $button-base--border--style $border--color;
  text-align: center;
  transition: $button-base--transition;
  min-width: $button-base--min-width;
  cursor: pointer;

  & > * {
    width: 100%;
    margin: auto;
    color: $text-color;
  }

  & > p {
    text-transform: capitalize;
    color: $text-color !important;
  }

  @content;

  &::after {
    content: "";
    display: block;
    position: absolute;
    border: $button-base--border--width $button-base--border--style transparent;
    border-radius: get-factor(xxs);
    left: $button-base--outline--offset;
    top: $button-base--outline--offset;
    bottom: $button-base--outline--offset;
    right: $button-base--outline--offset;
    transition: $button-base--transition;
  }

  &:hover {
    background: mix(
      $blend-base-background,
      $background-color,
      $button-base--blend--level-hover
    );
    border-color: mix(
      $blend-base-border,
      $border--color,
      $button-base--blend--level-hover
    );
  }

  &:focus {
    background: mix(
      $blend-base-background,
      $background-color,
      $button-base--blend--level-hover
    );
    border-color: mix(
      $blend-base-border,
      $border--color,
      $button-base--blend--level-hover
    );
    outline: none;

    &::after {
      border-color: $border--color;
    }
  }

  &:active {
    background: mix(
      $blend-base-background,
      $background-color,
      $button-base--blend--level-active
    );
    border-color: mix(
      $blend-base-border,
      $border--color,
      $button-base--blend--level-active
    );
  }

  &:disabled {
    background: $button-disabled--bg--color;
    border-color: $button-disabled--border--color;

    & > p {
      color: $button-disabled--text--color !important;
    }
  }
}

@mixin button__lg {
  border-radius: $button-lg--border-radius;
  padding: $button-lg--padding--vertical $button-lg--padding--horizontal;
}

@mixin button__sm {
  border-radius: $button-sm--border-radius;
  padding: $button-sm--padding--vertical $button-sm--padding--horizontal;
}

@mixin button--primary {
  @include button__base(
    $button-primary--bg--color,
    $button-primary--border--color,
    $button-primary--text-color
  ) {
    @include button__lg;
  }
}

@mixin button--secondary {
  @include button__base(
    $button-secondary--bg--color,
    $button-secondary--border--color,
    $button-secondary--text--color
  ) {
    @include button__lg;
  }
}

@mixin button--alt {
  @include button__base(
    $button-alt--bg--color,
    $button-alt--border--color,
    $button-alt--text--color
  ) {
    @include button__lg;
  }
}

@mixin button--small {
  @include button__base(
    $button-alt--bg--color,
    $button-alt--border--color,
    $button-alt--text--color
  ) {
    @include button__sm;
  }
}

@mixin button--destructive {
  @include button__base(
    $button-destructive--bg--color,
    $button-destructive--border--color,
    $button-destructive--text--color
  ) {
    @include button__lg;
  }
}

@mixin button--loading {
  div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  p {
    visibility: hidden;
  }
}
