// primary
$button-primary--bg--color: get-color(neutral-4);
$button-primary--border--color: get-color(neutral-4);
$button-primary--text-color: get-color(neutral-0);

// secondary
$button-secondary--bg--color: get-color(neutral-0);
$button-secondary--border--color: $button-primary--bg--color;
$button-secondary--text--color: $button-primary--bg--color;

// alternative
$button-alt--bg--color: get-color(primary-3);
$button-alt--border--color: get-color(primary-3);
$button-alt--text--color: get-color(neutral-0);

// Small (Alt) Variables
$button-alt--bg--color: get-color(neutral-4);
$button-alt--border--color: get-color(neutral-4);
$button-alt--text--color: get-color(neutral-0);

// Stateful Variables
$button-disabled--bg--color: get-color(neutral-1);
$button-disabled--border--color: get-color(neutral-1);
$button-disabled--text--color: get-color(neutral-2);

$button-destructive--bg--color: get-color(invalid-3);
$button-destructive--border--color: get-color(invalid-3);
$button-destructive--text--color: get-color(neutral-0);

// base
$button-base--border--width: 1px;
$button-base--border--style: solid;
$button-base--min-width: get-factor(xxl);
$button-base--outline--offset: get-factor(xxs) * -1;
$button-base--transition: all ease-in-out 0.2s;
$button-base--blend--dark: get-color(neutral-6);
$button-base--blend--light: get-color(neutral-0);
$button-base--blend--level-hover: 10%;
$button-base--blend--level-active: 20%;

// sizes
$button-lg--border-radius: get-factor(xxs);
$button-lg--padding--vertical: get-padding(xs, $button-base--border--width);
$button-lg--padding--horizontal: get-padding(md, $button-base--border--width);

$button-sm--border-radius: get-factor(mini);
$button-sm--padding--vertical: get-padding(xxs, $button-base--border--width);
$button-sm--padding--horizontal: get-padding(sm, $button-base--border--width);
