@import "~@cadent/sass-root";

$context-menu-icon-color: get-color(neutral-4);
$context-menu-icon-color-active: get-color(brand-2);

$context-menu-padding: 16px;

%context-menu-icon-active {
  color: $context-menu-icon-color-active;
}

@mixin context-menu-icon() {
  color: $context-menu-icon-color;
  &:hover {
    @extend %context-menu-icon-active;
  }
}

@mixin context-menu-group() {
  padding: $context-menu-padding;
  & + & {
    border-top: 1px solid get-color(neutral-2);
  }
}

@mixin context-menu-item() {
  margin-bottom: $context-menu-padding;
  &:last-child {
    margin-bottom: 0;
  }
}
