@import "~@cadent/sass-root";

$dropdown-container-border-radius: 4px;
$dropdown-container-shadow: 0 1px 8px 0 rgba(get-color(neutral-6), 0.16);
$dropdown-container-padding: 16px;
$dropdown-container-min-width: 128px;

@mixin dropdown-container($min-width: $dropdown-container-min-width) {
  background-color: get-color(neutral-0);
  border-radius: $dropdown-container-border-radius;
  border: 1px solid get-color(neutral-2);
  box-shadow: $dropdown-container-shadow;
  min-width: $min-width;
  padding: $dropdown-container-padding;
}

@mixin dropdown-backdrop() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin dropdown-content() {
  display: inline-block;
  &:focus, &:active {
    outline: none;
  }
}
