* {
  box-sizing: border-box;
  position: relative;

  &::after,
  &::before {
    box-sizing: border-box;
    font-size: inherit;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  & > * {
    height: 100%;
    width: 100%;
  }
}
