@import "~@cadent/sass-root";

$progress-bar-background-color: get-color(neutral-2);
$progress-bar-border-radius: get-factor(xxs);

$progress-bar-color-brand: get-color(brand-2);
$progress-bar-color-invalid: get-color(invalid-3);

@mixin progress-bar() {
  background-color: $progress-bar-background-color;
  width: 100%;
  height: 8px;
  border-radius: $progress-bar-border-radius;
  overflow: hidden;
}

$progress-bar-size--map: (
  sm: 48px
);

@mixin progress-bar-size($size) {
  width: map_get($progress-bar-size--map, $size);
}


@mixin progress-bar-handler() {
  width: inherit;
  height: inherit;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}

@mixin progress-bar-handler--brand() {
  background-color: $progress-bar-color-brand;
}

@mixin progress-bar-handler--error() {
  background-color: $progress-bar-color-invalid;
}
