// ********** MEASUREMENTS ************ \\
$factor: 4;
$global--spacings: (
  // 2px
    mini: $factor * 0.5px,
  // 4px
    xxs: $factor * 1px,
  // 8px
    xs: $factor * 2px,
  // 16px
    sm: $factor * 4px,
  // 24px
    md: $factor * 6px,
  // 32px
    lg: $factor * 8px,
  // 48px
    xl: $factor * 12px,
  // 64px
    xxl: $factor * 16px
);

$col-offset: 20px;
$col-width: 102px;
$col-gutter: map-get(
  $map: $global--spacings,
  $key: sm
);
@function create_column_get-width(
  $span,
  $width: $col-width,
  $gutter: $col-gutter
) {
  @return ($span * $col-width) + (($span - 1) * $col-gutter);
}

$col-spans: (
  1col: create_column_get-width(1),
  2col: create_column_get-width(2),
  3col: create_column_get-width(3),
  4col: create_column_get-width(4),
  5col: create_column_get-width(5),
  6col: create_column_get-width(6),
  7col: create_column_get-width(7),
  8col: create_column_get-width(8),
  9col: create_column_get-width(9),
  10col: create_column_get-width(10),
  11col: create_column_get-width(11),
  12col: create_column_get-width(12)
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

// ********** COLORS ************ \\
// Neutral
$color-neutral-0: #fff;
$color-neutral: #688197;
$color-neutral-6: #000;
$color-brand: #0039e8;
$color-primary: #fc2c7d;
$color-secondary: #00cced;
$color-purple: #961285;
$color-success: #13d666;
$color-invalid: #e50000;
$color-warning: #fcdd00;

$global--colors: (
  neutral-0: #fff,
  neutral-1: #eceff2,
  neutral-2: #b3c0cb,
  neutral-3: $color-neutral,
  neutral-4: #41515f,
  neutral-5: #1d252d,
  neutral-6: #000,
  brand-1: #7f9cf3,
  brand-2: #2d61ff,
  brand-3: $color-brand,
  brand-4: #01228b,
  brand-5: #00175c,
  primary-1: #fd95be,
  primary-2: #fd6fa6,
  primary-3: $color-primary,
  primary-4: #ca2364,
  primary-5: #971a4a,
  secondary-1: #7fe5f6,
  secondary-2: #32e2ff,
  secondary-3: $color-secondary,
  secondary-4: #00a3be,
  secondary-5: #006677,
  purple-1: #ffb1ff,
  purple-2: #cb62c2,
  purple-3: $color-purple,
  purple-4: #871078,
  purple-5: #780d6a,
  success-1: #c5f4cc,
  success-2: #85e699,
  success-3: $color-success,
  success-4: #21a44f,
  success-5: #21743b,
  invalid-1: #ffbba7,
  invalid-2: #fc7656,
  invalid-3: $color-invalid,
  invalid-4: #b21406,
  invalid-5: #7f1a09,
  warning-1: #fef4b2,
  warning-2: #fee870,
  warning-3: $color-warning,
  warning-4: #efb100,
  warning-5: #de8505
);

// Full Gradient
$color-gradient-full: linear-gradient(
  to right,
  get-color(brand-3),
  get-color(brand-4),
  get-color(purple-5),
  get-color(primary-4),
  get-color(warning-4),
  get-color(success-4)
);
$color-gradient-1: linear-gradient(
  to right,
  get-color(brand-3),
  get-color(brand-4)
);
$color-gradient-2: linear-gradient(
  to right,
  get-color(brand-4),
  get-color(purple-5)
);
$color-gradient-3: linear-gradient(
  to right,
  get-color(purple-5),
  get-color(primary-4)
);
$color-gradient-4: linear-gradient(
  to right,
  get-color(primary-4),
  get-color(warning-4)
);
$color-gradient-5: linear-gradient(
  to right,
  get-color(warning-4),
  get-color(success-4)
);

// Aliases
$color-accent: get-color(brand-2);
