@import "~@cadent/sass-root";

$modal-border-color: get-color(neutral-4);
$modal-border: 1px solid $modal-border-color;

$modal-background-color: get-color(neutral-0);
$modal-overlay-color: get-color(neutral-5);
$modal-overlay-opacity: 0.7;

$modal-divider-color: get-color(neutral-2);
$modal-divider: 1px solid $modal-divider-color;

$modal-padding: get-factor(md);


@mixin modal_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}


@mixin modal-overlay {
  pointer-events: none;
  height: 100%;
  background-color: rgba($modal-overlay-color, $modal-overlay-opacity);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

@mixin modal-window {
  @include make_flex(column, center, stretch);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $modal-background-color;
  border: $modal-border;
  border-radius: get-factor(xxs);
  max-height: 90%;
}

@mixin modal-size--sm {
  width: get-width(4col);
}

@mixin modal-size--md {
  width: get-width(6col);
}

@mixin modal-size--lg {
  width: get-width(8col);
}

@mixin modal-size--xl {
  width: get-width(10col);
}

@mixin modal-size--full {
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  &.modal-window {
    border: none;
    border-radius: 0;

    .modal-body {
      flex: 1;
    }
  }
}

@mixin modal-header {
  @include make_flex(row, space-between, center);
  padding: $modal-padding;
}

@mixin modal-footer {
  @include make_flex(row, flex-end, center);
  padding: $modal-padding;
}

@mixin modal-body {
  padding: 0 $modal-padding $modal-padding $modal-padding;
  overflow-y: auto;
}

@mixin divider {
  border-top: $modal-divider;
}
