@import "~@cadent/sass-root";

// ALERT - Base
$alert-base--color--opacity: 0.4;
$alert-base--color: (
  warning: get-color(warning-4),
  success: get-color(success-4),
  error: get-color(invalid-2),
  info: get-color(neutral-2)
);
@function get-alert-bg-color($color-key) {
  $color: map-get(
    $map: $alert-base--color,
    $key: $color-key
  );
  @return rgba($color, $alert-base--color--opacity);
}
@mixin alert-base--warning {
  background: get-alert-bg-color(warning);
}
@mixin alert-base--error {
  background: get-alert-bg-color(error);
}
@mixin alert-base--success {
  background: get-alert-bg-color(success);
}
@mixin alert-base--info {
  background: get-alert-bg-color(info);
}

// LABEL
$label-base--padding: get-factor(xxs) get-factor(xs);

@mixin label-base {
  padding: $label-base--padding;
  display: inline-block;
}

@mixin label--warning {
  @include alert-base--warning;
  @include label-base;
}

@mixin label--error {
  @include alert-base--error;
  @include label-base;
}

@mixin label--success {
  @include alert-base--success;
  @include label-base;
}

@mixin label--info {
  @include alert-base--info;
  @include label-base;
}

// TOAST
$toast-base--padding: get-factor(xs) get-factor(sm);
$toast-standalone--border-radius: get-factor(xxs);

@mixin toast-base {
  padding: $toast-base--padding;
}

// TOAST - Wide
$toast-wide--width: 100%;

@mixin toast-wide-inline() {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

@mixin toast-wide-standalone() {
  border-radius: $toast-standalone--border-radius;
}

@mixin toast-wide--base {
  @include make-flex(row, space-between, center);
  @include toast-base;
  width: $toast-wide--width;
  border: 1px solid transparent;
}

@mixin toast-wide--warning {
  @include alert-base--warning;
  @include toast-wide--base;
  border-color: map-get($alert-base--color, warning);
}

@mixin toast-wide--error {
  @include alert-base--error;
  @include toast-wide--base;
  border-color: map-get($alert-base--color, error);
}

@mixin toast-wide--success {
  @include alert-base--success;
  @include toast-wide--base;
  border-color: map-get($alert-base--color, success);
}

@mixin toast-wide--info {
  @include alert-base--info;
  @include toast-wide--base;
  border-color: map-get($alert-base--color, info);
}

// TOOLTIP
$tooltip-base--padding: get-factor(xs) get-factor(sm);

@mixin tooltip-base {
  padding: $tooltip-base--padding;
  text-align: center;
}

@mixin tooltip--container {
}

@mixin tooltip--ref {
  border: none;
  padding: 0;
  margin: 0;
}

@mixin tooltip--warning {
  @include alert-base--warning;
  @include tooltip-base;
}

@mixin tooltip--error {
  @include alert-base--error;
  @include tooltip-base;
}

@mixin tooltip--success {
  @include alert-base--success;
  @include tooltip-base;
}

@mixin tooltip--info {
  @include alert-base--info;
  @include tooltip-base;
}

// arrow

@mixin tooltip--arrow {
  width: 0;
  border-left: get-factor(xs) solid transparent;
  border-right: get-factor(xs) solid transparent;
  border-style: solid;
  border-width: get-factor(xs);

  background-color: transparent;

  &::after {
    content: "";
    height: get-factor(xs);
    display: block;
  }
}

@mixin tooltip-arrow--up {
  @include tooltip--arrow;
  border-bottom: get-factor(sm);
}

@mixin tooltip-arrow--down {
  @include tooltip--arrow;
  border-top: get-factor(sm);
}

@mixin tooltip-arrow--warning {
  @include alert-base--warning;
  @include tooltip--arrow;
  border-color: get-alert-bg-color(warning);
}

@mixin tooltip-arrow--error {
  @include alert-base--error;
  @include tooltip--arrow;
  border-color: get-alert-bg-color(error);
}

@mixin tooltip-arrow--success {
  @include alert-base--success;
  @include tooltip--arrow;
  border-color: get-alert-bg-color(success);
}

@mixin tooltip-arrow--info {
  @include alert-base--info;
  @include tooltip--arrow;
  border-color: get-alert-bg-color(info);
}
