@import "~@cadent/sass-root";

@mixin form-group--stacked {
  & > * {
    &:not(:first-child) {
      margin-top: get-factor(md);
    }
  }
}

@mixin form-group--inline {
  & > * {
    display: inline-block;
    width: auto;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: get-factor(md);
      margin-bottom: get-factor(md);
    }
  }
}

@mixin form-group--subform--inline {
  & > * {
    display: inline-block;

    &:not(:last-child) {
      margin-right: get-factor(sm);
      margin-bottom: get-factor(md);
    }
  }
}
