@import "@cadent/sass-root";

$tab-list-height: 40px;
$tab-list-margin: 0;
$tab-list-padding: 0;

$tab-link-padding: 0 get-factor(sm);
$tab-link-line-height: $tab-list-height;
$tab-link-text-size: get-font-size(md);
$tab-line-transition-speed: 0.15s;
$tab-line-transition-easing: ease-in-out;

@mixin tabs-container {
  display: block;
  position: relative;
  padding: 0 get-factor(md);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid get-color(neutral-2);
  }

  & > * {
    &:not(:first-child) {
      margin-left: get-factor(xxs);
    }
  }
}

@mixin tabs-container--left {
  @include make_flex(row, flex-start, stretch);
}

@mixin tabs-container--center {
  @include make_flex(row, center, stretch);
}

@mixin tabs-container--right {
  @include make_flex(row, flex-end, stretch);
}

// Tabs (base)
@mixin tab-base {
  background: get-color(neutral-0);
  border-color: get-color(neutral-2);

  & > * {
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    border: none;
    padding: get-factor(xs) get-factor(md);
    text-transform: uppercase;
  }
}

@mixin tab-base--active {
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
  }

  & * {
    color: get-color(brand-2);
  }
}

@mixin tab-base--disabled {
  & * {
    color: get-color(neutral-2);
    background: transparent;
  }
}

// Tabs (Simple)
@mixin tab-simple {
  @include tab-base;
  border: 1px solid transparent;
  border-bottom: 1px solid get-color(neutral-2);
}

@mixin tab-simple--active {
  @include tab-base--active;

  &::after {
    height: 2px;
    bottom: -1px;
    background: get-color(brand-2);
  }
}

@mixin tab-simple--disabled {
  @include tab-base--disabled;
}

// Tabs (Main)
@mixin tab-main {
  @include tab-base;
  border: 1px solid get-color(neutral-2);
  border-radius: get-factor(xxs) get-factor(xxs) 0 0;
  text-transform: uppercase;

  & > * {
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    border: none;
    border-radius: get-factor(xxs) get-factor(xxs) 0 0;
    padding: get-factor(xs) get-factor(md);
  }
}

@mixin tab-main--active {
  @include tab-base--active;

  &::after {
    height: 1px;
    background: get-color(neutral-0);
  }
}

@mixin tab-main--disabled {
  @include tab-base--disabled;
  background: get-color(neutral-1);
}

//ToggleButton

@mixin toggle-button-wrapper {
  display: inline-block;
}
